<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<title>BlackSheep WebSocket Example with Vue</title>
		<script src="https://unpkg.com/vue@3.4.21/dist/vue.global.prod.js"></script>
		<style>
			.controls {
				display: flex;
				column-gap: 3px;
				margin-top: 10px;
			}
			input {
				flex: 1;
			}
		</style>
	</head>
	<body>
		<div id="app">
			<p><b>Your client ID is {{ CLIENT_ID }}</b></p>
			<p>Status: {{ status }}</p>

			<p>Messages:</p>
			<ul>
				<li v-for="message in messages" :key="message.timestamp">
					<div><b>From:</b> {{ message.author }}</div>
					<div>
						<b>Sent:</b> {{ renderTimestamp(message.timestamp) }}
					</div>
					<div><b>Text:</b> {{ message.text }}</div>
				</li>
			</ul>

			<div class="controls">
				<input
					type="text"
					placeholder="Your message"
					v-model="messageText"
					@keyup.enter="submit"
				/>
				<button :disabled="!ws" @click="submit">Submit</button>
				<button :disabled="ws" @click="connect">Connect</button>
				<button :disabled="!ws" @click="disconnect">Disconnect</button>
			</div>
		</div>

		<script>
			const { createApp } = Vue;

			createApp({
				data() {
					return {
						CLIENT_ID: crypto.randomUUID(),
						WS_URL: `ws://${
							location.host
						}/ws/${crypto.randomUUID()}`, // generated again at connection
						ws: null,
						status: "Disconnected",
						messageText: "",
						messages: [],
					};
				},
				methods: {
					makeMessage() {
						return {
							author: this.CLIENT_ID,
							text: this.messageText,
							timestamp: new Date().toISOString(),
						};
					},
					submit() {
						if (
							!this.ws ||
							this.ws.readyState !== WebSocket.OPEN ||
							!this.messageText
						)
							return;
						const message = this.makeMessage();
						this.ws.send(JSON.stringify(message));
						this.messageText = "";
					},
					connect() {
						this.WS_URL = `ws://${location.host}/ws/${this.CLIENT_ID}`; // ensure it uses the actual client ID
						this.ws = new WebSocket(this.WS_URL);

						this.ws.addEventListener("open", () => {
							this.status = "Connected";
						});

						this.ws.addEventListener("message", (event) => {
							this.messages.push(JSON.parse(event.data));
						});

						this.ws.addEventListener("close", () => {
							this.status = "Disconnected";
							this.ws = null;
						});

						this.ws.addEventListener("error", (event) => {
							this.status = "Error";
							console.error("WebSocket error:", event);
						});
					},
					disconnect() {
						if (this.ws) {
							this.ws.close();
							this.ws = null;
							this.messages = [];
						}
					},
					renderTimestamp(ts) {
						return new Date(ts).toLocaleTimeString();
					},
				},
			}).mount("#app");
		</script>
	</body>
</html>
